<div class="large-12 medium-12 small-12 column">
  <h1>Edit Movie</h1>
</div>

<div class="large-3 medium-3 small-12 column">
  <%= image_tag @movie.poster_url, id: 'poster-preview' %>
</div>
<div class="large-9 medium-9 small-12 column">
  <%= render 'form', movie: @movie, updating: true %>
</div>

<div class="large-12 medium-12 small-12 column">
  <%= link_to 'Back', movie_path(@movie.id) %>
</div>