<% if notice.present? || alert.present? %>
  <div class="row" id="alert-div">
    <% is_alert = alert.present? ? 'alert' : '' %>
    <div data-alert class="alert-box <%= is_alert %>">
      <%= notice || alert %>
      <a href="#" class="close" onclick="$('#alert-div').css('display', 'none')">&times;</a>
    </div>
  </div>
<% end %>